<!DOCTYPE html>
<html>
  <head>
    <%-include  css_js.ejs %>
    <title><%= title %></title>
  </head>
  <body>
    <%-include  navbar.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer><%-include footer.ejs %></footer>
  </body>
</html>
